video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.about-anchor {
  text-decoration: none;
}
.anchor-link {
  text-decoration: none;
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  color: rgb(208, 239, 239);
}
.history,
.location {
  border: solid rgb(67, 188, 164);
  backdrop-filter: blur(30px);
  border-radius: 30px;
}
.history,
.location {
  transition-duration: 200ms;
}
.history:is(:hover, :focus) {
  transform: scale(0.8);
}
.location:is(:hover, :focus) {
  transform: scale(0.8);
}
