.card,
img {
  border-radius: 20px;
  transition-duration: 600ms;
  transition: all 0.2s ease-in-out;
}
.card:is(:hover, :focus) {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
